/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #000;
  color: #fff;
  background-color: #000;
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  background-color: #FFF;
  color: #000;
}

.btn:focus {
  outline: none;
}

.form {
  margin: auto;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset {
  border: none;
  margin-bottom: 2em;
}

legend {
  border: none;
  font-weight: bold;
  font-size: 1.4em;
}

.centered {
  text-align: center;
}

.full {
  flex-basis: 100%;
}

.form input[type=radio] {
  width: 20px;
}

.form label {
  display: inline-block;
  width: calc(100% - 40px);
  text-align: left;
}