/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #000;
  color: #fff;
  background-color: #000;
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  background-color: #FFF;
  color: #000;
}

.btn:focus {
  outline: none;
}

.form {
  margin: auto;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset {
  border: none;
  margin-bottom: 2em;
}

legend {
  border: none;
  font-weight: bold;
  font-size: 1.4em;
}

.centered {
  text-align: center;
}

.full {
  flex-basis: 100%;
}

.form input[type=radio] {
  width: 20px;
}

.form label {
  display: inline-block;
  width: calc(100% - 40px);
  text-align: left;
}

.alert {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 4em;
  width: 400px;
  left: calc(50% - 200px);
  right: calc(50% - 200px);
  padding: .5em;
  border-radius: 8px;
  color: #fff;
}

.success {
  background: #292;
}

.warning {
  background: #822;
}

.close {
  cursor: pointer;
  position: absolute;
  right: .5em;
}

.colorful {
  background: rgb(166, 223, 213);
}

.colorful .success {
  background: #5ff;
  color: rgb(18, 59, 39);
}

.colorful .warning {
  background: #f3e;
  color: rgb(18, 59, 39);
}

.colorful .btn {
  color: rgb(166, 223, 213);
  background-color: rgb(18, 59, 39);
}

.colorful .btn:hover {
  color: rgb(18, 59, 39);
  background-color: rgb(166, 223, 213);
}

.dark {
  background: rgb(30, 31, 28);
  color: rgb(146, 171, 226);
}

.dark .btn {
  background:rgb(146, 171, 226); 
  color: rgb(30, 31, 28);
}

.dark .btn:hover {
  background: rgb(30, 31, 28);
  color: rgb(146, 171, 226);
}

.dark .success {
  background: #3d6;
  color: #446
}

.dark .warning {
  background: #e63;
  color: #433;
}